body {
    margin: 0;
    padding: 0;
    background: url('./transparent.jpg');
    background-repeat: repeat;
    background-size: contain contain;
    font-family: monospace;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#notice {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    line-height: 2;

    transition: opacity ease-in-out 0.5s;
}

#controls {
    position: absolute;
    right: 0;
    bottom: 0;

    border-top-left-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.1rem 1rem;
    color: #fff;
    line-height: 2;
    opacity: 0.5;

    transform: translateY(85%);
    transition: opacity ease-in-out 0.5s, transform ease-in-out 0.5s;

    &:hover {
        opacity: 1.0;
        transform: translateY(0%);
    }

    label {
        display: table-cell;
    }
    input {
        width: 100%;
    }
}
